<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AutoLayoutProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7357FC8D1E2DFE3A00FAA8DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7357FCA11E2DFE3A00FAA8DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7357FCAC1E2DFE3A00FAA8DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
